<div id="settings-button">
	<button class="svg-button" (click)="showMenu = true"><img /></button>
</div>

<div id="settings-menu" *ngIf="showMenu" [@menuSlide]>
	<div class="header">
		<h2>Settings</h2>
		<button class="svg-button" (click)="hideMenu()"><img /></button>
	</div>
	<h3>Stratagem Input Mode:</h3>
	<form [formGroup]="inputModeForm">
		<ng-container *ngFor="let mode of inputModes">
			<input type="radio" [id]="mode" formControlName="mode" [value]="mode" />
			<label [for]="mode">{{ mode }}</label
			><br />
		</ng-container>
	</form>
	<h3>Hide Mission Stratagems:</h3>
	<form [formGroup]="hideModeForm">
		<ng-container *ngFor="let hideMode of hideMissionCodes">
			<input type="radio" [id]="hideMode" formControlName="mode" [value]="hideMode" />
			<label [for]="hideMode">{{ hideMode }}</label
			><br />
		</ng-container>
	</form>
	<button class="equip-button" (click)="showHelp = true">Help</button>
	<button class="equip-button" (click)="showContact = true">Author/Contact</button>
</div>

<div *ngIf="showMenu" [@backgroundFade] class="under-menu" (click)="hideMenu()"></div>

<div *ngIf="showMenu && showHelp" id="help-modal">
	<div class="modal-box">
		<div class="content">
			<span class="title">Help</span>
			<button class="svg-button" (click)="showHelp = false"><img /></button>
			<span>
				<table>
					<tr>
						<th><div class="stop-all-icon"></div></th>
						<td>Stops all audio</td>
					</tr>
					<tr>
						<th><div class="soundboard-icon"></div></th>
						<td>Opens the soundboard for music and other audio</td>
					</tr>
					<tr>
						<th><div class="stratagem-icon"></div></th>
						<td>Returns to the stratagem input view</td>
					</tr>
				</table>
				Stratagem Input Modes:
				<table>
					<tr>
						<th>Free</th>
						<td>Any code can be used and generic sounds will play
							<br/>
							Stratagem will activate at 8 inputs or if you tap the input list at the top
							<br/>
							Tap the input list at the top again to reset
						</td>
					</tr>
					<tr>
						<th>Code List</th>
						<td>Codes must match to an actual stratagem code or they will fail
							<br/>
							List will reduce to match current inputs
							<br/>
							Tap the input list at the top to reset
						</td>
					</tr>
					<tr>
						<th>Blind</th>
						<td>Same as Code List but the list itself is hidden</td>
					</tr>
				</table>
				Hide Mission Stratagems:
				<table>
					<tr>
						<th>Show All</th>
						<td>Shows all yellow stratagems in the list</td>
					</tr>
					<tr>
						<th>Hide Subobjective Specific</th>
						<td>Only shows yellow stratagems that are available in every mission (Reinforce, SOS Beacon, Resupply and Eagle Rearm)</td>
					</tr>
					<tr>
						<th>Hide All</th>
						<td>Hides all yellow stratagems in the list</td>
					</tr>
				</table>
			</span>
		</div>
	</div>
</div>

<div *ngIf="showMenu && showContact" id="contact-modal">
	<div class="modal-box">
		<div class="content">
			<span class="title">Author/Contact</span>
			<button class="svg-button" (click)="showContact = false"><img /></button>
			<div class="name">
				<img src="images/flak_avatar.png"/> FlaK_MoNKeY / Aidan
			</div>
			<div class="buttons">
				<button class="equip-button" (click)="goToSteam()">
					<img class="steam-icon"/>
					STEAM LINK
				</button>
				<button class="equip-button" (click)="goToDiscord()">
					<img src="images/discord-icon.png"/>
					DISCORD: flak_monkey
				</button>
				<button class="equip-button" (click)="goToEmail()">
					<img class="email-icon"/>
					aido727&#64;gmail.com
				</button>
			</div>
		</div>
	</div>
</div>
