h2, h3, p {
    margin: 0;
    margin-right: 8px;
}

h3 {
    margin-bottom: 8px;
}

form {
    margin-bottom: 24px;
}

#settings-button {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 110;
    height: 56px;
    width: 56px;

    .svg-button img {
        width: 100%;
        height: 100%;
        content: url("/images/settings_cog.svg");
    }
}

#settings-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    background-color: var(--dark-gray);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        padding-bottom: 1rem;
    }

    .svg-button {
        height: 32px;
        width: 32px;
        img {
            width: 100%;
            height: 100%;
            content: url("/images/close-cross.svg");
        }
    }
}

.svg-button {
    cursor: pointer;
    border: 0;
    background: transparent;
    opacity: 35%;
    &:hover {
        opacity: 100%;
    }
}

.under-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-trans);
    z-index: 100;
}