<div id="settings-button">
    <button class="svg-button" (click)="showMenu = !showMenu"><img/></button>
</div>

<div id="settings-menu" [@menuTrigger]="showMenu ? 'open' : 'close'">
    <div class="header">
        <h2>Settings</h2>
        <button class="svg-button" (click)="showMenu = false"><img/></button>
    </div>
    <h3>Stratagem Mode:</h3>
    <form [formGroup]="form">
        <ng-container *ngFor="let mode of inputModes">
            <input type="radio" [id]="mode" formControlName="mode" [value]="mode">
            <label [for]="mode">{{mode}}</label><br>
        </ng-container>
    </form>
</div>