#code-list-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: var(--black-trans);
    overflow-x: auto;
    position: absolute;
    padding: 2px 8px;
}