.install-button-container {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--black);
	z-index: 300;

	.install-button-edge {
		width: 8px;
		background-color: var(--white);
		cursor: pointer;
	}

	.inner-button {
		padding: 12px;
	}
}
