.install-button-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--black-trans);

    .install-button-edge {
        width: 0.5vw;
        background-color: var(--white);
        cursor: pointer;
    }

    .inner-button {
        padding: 0.75vw;
    }
}
