.main-app-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.background-crosses {
	opacity: 0.1;
	position: fixed;
	top: 10px;
	height: calc(100vh - 20px);
	width: 100vw;
	background-image: url("/images/background-cross.png");
	background-size: 70px;
	background-repeat: repeat;
	background-position: center;
	z-index: -100;
}

.border-bar {
	width: 100vw;
	height: 10px;
	background-color: var(--light-blue);
	box-shadow: 0 0 15px 0 var(--light-blue);
	margin: 10px 0;
	z-index: -10;
}

#update-loader {
	z-index: 1010;
}

#audio-loader {
	z-index: 1000;
}

#update-loader,
#audio-loader {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black-trans);

	.modal-box {
		background-color: var(--dark-gray);
		width: 75%;
		height: 60%;

		--s: 10px; /* the size on the corner */
		--t: 2px; /* the thickness of the border */
		--g: 0px; /* the gap between the border and image */

		padding: calc(var(--g) + var(--t));
		outline: var(--t) solid var(--white); /* the color here */
		outline-offset: calc(-1 * var(--t));
		mask:
			conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
			linear-gradient(#000 0 0) content-box;

		.content {
			display: flex;
			flex-direction: column;
			padding: 32px;
			font-size: 24pt;
			color: var(--light-gray);

			.title {
				text-transform: uppercase;
				color: var(--white);
				margin-bottom: 16px;
			}
		}
	}
}
