.main-app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.background-crosses {
    opacity: 0.1;
    position: fixed;
    top: 2rem;
    height: calc(100vh - 4rem);
    width: 100vw;
    background-image: url('/images/background-cross.png');
    background-size: 13.2rem;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -100;
}

.border-bar {
    width: 100vw;
    height: 1rem;
    background-color: var(--light-blue);
    box-shadow: 0 0 1.5rem 0 var(--light-blue);
    margin: 2rem 0;
}