<app-install-button></app-install-button>
<div class="main-app-container">
	<div class="border-bar"></div>
	<app-stratagem-input></app-stratagem-input>
	<div class="border-bar"></div>
	<div class="background-crosses"></div>
</div>

<div id="update-loader" [class.hidden]="!updating">
	<div class="modal-box">
		<div class="content">
			<span class="title">Updating</span>
			<span>Please wait democratically...</span>
		</div>
	</div>
</div>

<!-- <ng-container *ngFor="let stratagemInputBeepNum of [].constructor(stratagemInputBeepCopies); let i = index">
	<audio [id]="'stratagem.input.beep.' + i" src="/audio/sounds/stratagem-input.ogg"></audio>
</ng-container> -->

<ng-container *ngFor="let stratagemInputBeepNum of [].constructor(stratagemInputBeepPitches); let i = index">
	<audio [id]="'stratagem.input.beep.' + (i + 1)" [src]="'/audio/sounds/stratagem-input-' + (i + 1) + '.ogg'"></audio>
</ng-container>
<audio id="stratagem.input.fail.1" src="/audio/sounds/stratagem-input-fail-1.ogg"></audio>
<audio id="stratagem.input.fail.2" src="/audio/sounds/stratagem-input-fail-2.ogg"></audio>
<audio id="stratagem.input.ready" src="/audio/sounds/stratagem-input-ready-long.ogg"></audio>
<!-- <audio id="stratagem.input.loop" src="/audio/sounds/stratagem-input-loop.ogg" loop></audio> -->
<audio id="stratagem.input.deploy" src="/audio/sounds/stratagem-input-deploy.ogg"></audio>
