<app-install-button></app-install-button>
<app-settings></app-settings>
<app-soundboard></app-soundboard>
<div class="main-app-container">
	<div class="border-bar"></div>
	<app-stratagem-input></app-stratagem-input>
	<div class="border-bar"></div>
	<div class="background-crosses"></div>
</div>

<div id="update-loader" [class.hidden]="!updating">
	<div class="modal-box">
		<div class="content">
			<span class="title">Updating Personal Hellpad System</span>
			<span>Please wait democratically...</span>
		</div>
	</div>
</div>

<div id="audio-loader" [class.hidden]="updating || audioLoaded">
	<div class="modal-box">
		<div class="content">
			<span class="title">Loading Audio Files</span>
			<span>Please wait democratically... {{ audioPercentLoaded | async }}%</span>
		</div>
	</div>
</div>
