<app-install-button></app-install-button>
<div class="main-app-container">
    <div class="border-bar"></div>
    <app-stratagem-input></app-stratagem-input>
    <div class="border-bar"></div>
    <div class="background-crosses"></div>
</div>


<div id="update-loader" [class.hidden]="!updating">
     <div class="modal-box">
        <div class="content">
            <span class="title">Updating</span>
            <span>Please wait democratically...</span>
        </div>
     </div>
</div>


<ng-container *ngFor="let stratagemInputBeepNum of [].constructor(stratagemInputBeepCopies), let i = index">
    <audio [id]="'stratagem.input.beep.'+i" src="/audio/sounds/stratagem-input.ogg"></audio>
</ng-container>