.code-display-container {
    text-transform: uppercase;
    font-size: 14pt;
    padding: 8px;
    -webkit-text-stroke-width: 0.2rem;
	-webkit-text-stroke-color: black;
    paint-order: stroke fill;
    display: flex;
    align-items: center;

    img {
        height: 100%;
    }

    .icon {
        background-color: var(--dark-gray);
        height: 32px;
        width: 32px;
        margin-right: 8px;
        padding: 3px;
        border: 3px solid var(--yellow-border);

        &.red {
            border-color: var(--red-border);
        }

        &.blue {
            border-color: var(--blue-border);
        }

        &.green {
            border-color: var(--green-border);
        }
    }

    .code-container {
        height: 18px;
        display: flex;
        flex-direction: row;

        .stratagem-direction-container {
            margin: 1px 3px;

            .stratagem-direction {
                opacity: 60%;

                &.match {
                    opacity: 100%;
                }
            }
        }
    }
}