#help-modal {
    z-index: 240;

	.modal-box {
		height: calc(100vh - 60px);
		width: calc(100vw - 60px);

		.content {
			display: flex;
			flex-direction: column;
			padding: 20px;
			font-size: 20pt;
			overflow-y: auto;
			height: calc(100% - 20px);
			color: var(--white);
		}
	}

	.svg-button {
        cursor: pointer;
        border: 0;
        background: transparent;
        opacity: 35%;
        &:hover {
            opacity: 100%;
        }
		right: 48px;
		position: fixed;
		height: 32px;
		width: 32px;
		img {
			width: 100%;
			height: 100%;
			content: url("/images/close-cross.svg");
		}
	}

    table {
		width: 100%;
		border-collapse: collapse;
		font-size: 20px;
		margin-bottom: 20px;
		color: var(--light-gray);

		th {
			color: var(--white);
			font-weight: normal;

			div {
				width: 100%;
				&.stop-all-icon {
					height: 36px;
					content: url("/images/stop-circle.svg");
				}

				&.soundboard-icon {
					height: 36px;
					content: url("/images/music.svg");
				}

				&.stratagem-icon {
					height: 36px;
					content: url("/images/sound.svg");
				}
			}
		}

		th,
		td {
			padding: 4px;
		}
	}

	table,
	td,
	th {
		border: 1px solid var(--gray);
	}
}
