:host {
	height: 100%;
}

#stratagem-input-view {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.skull-header {
		width: 100%;
		max-height: 20%;
		max-width: 95%;
		position: relative;

		img {
			width: 100%;
			max-height: 100%;
			max-width: 100%;
			object-fit: contain;
		}

		.stratagem-code-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			max-width: 100%;
			height: 85%;
			padding: 4px;
			background-color: var(--black-trans);

			--s: 10px; /* the size on the corner */
			--t: 2px; /* the thickness of the border */
			--g: 0px; /* the gap between the border and image */

			padding: calc(var(--g) + var(--t));
			outline: var(--t) solid var(--white); /* the color here */
			outline-offset: calc(-1 * var(--t));
			mask:
				conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s)) calc(100% - var(--s)),
				linear-gradient(#000 0 0) content-box;

			.stratagem-direction-container {
				margin: 8px;
				height: calc(80% - 16px);
			}

			&.ready {
				cursor: pointer;
				&:hover,
				&:active {
					background-color: var(--yellow-trans);
				}
			}

			&.cancel {
				cursor: pointer;
				&:hover,
				&:active {
					background-color: var(--red-trans);
				}
			}
		}
	}

	.content-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 100%;
		width: 100%;
		padding: 0.5rem 0;
		position: relative;

		app-code-list {
			z-index: 50;
			position: absolute;
			height: 100%;
			left: 0;
			bottom: 0.5rem;
		}

		.stratagem-inputs-container {
			max-height: 100%;
			max-width: 80%;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 50% 50%;

			#inputUp {
				grid-column-start: 2;
			}

			#inputLeft,
			#inputDown,
			#inputRight {
				grid-row-start: 2;
			}

			&.list-position {
				margin-left: 33vw;
			}
		}

		.deploy-button-container {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 100;
			display: flex;
			justify-content: center;
			align-items: center;

			.deploy-button {
				height: 100%;
				width: 100%;
				max-width: calc(100% - 48px);
				max-height: calc(100% - 24px);
				font-size: 32pt;
				border: 4px solid transparent;
				background-color: var(--black-trans);
				padding: 12px;
				margin: 12px 24px;
				cursor: pointer;
				text-transform: uppercase;
				color: var(--white);
				-webkit-text-stroke-width: 0.35rem;
				-webkit-text-stroke-color: black;
				paint-order: stroke fill;
				animation-name: pulseYellow;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				
				img {
					border: 8px solid var(--yellow-border);
					height: 192px;
					width: 192px;
					background-color: var(--dark-gray);
				}

				&:hover,
				&:active,
				&.active {
					animation: none;
					background-color: var(--yellow-trans);
					border-color: var(--yellow);
					box-shadow: 0 0 16px 0 var(--yellow);
				}

				&.active:not(.red, .blue) {
					border-color: var(--white);
				}

				&.red {
					animation-name: pulseRed;
					&:hover:not(.active),
					&:active {
						animation: none;
						background-color: var(--red-trans);
						border-color: var(--red);
						box-shadow: 0 0 16px 0 var(--red);
					}
				}

				&.blue {
					animation-name: pulseBlue;
					&:hover:not(.active),
					&:active {
						animation: none;
						background-color: var(--blue-trans);
						border-color: var(--blue);
						box-shadow: 0 0 16px 0 var(--blue);
					}
				}

				img {
					&.red {
						border-color: var(--red-border);
					}
					&.blue {
						border-color: var(--blue-border);
					}
					&.green {
						border-color: var(--green-border);
					}
				}

				@keyframes pulseYellow {
					25%,
					75% {
						background-color: var(--black-trans);
					}
					50% {
						background-color: var(--yellow-trans);
					}
				}

				@keyframes pulseRed {
					25%,
					75% {
						background-color: var(--black-trans);
					}
					50% {
						background-color: var(--red-trans);
					}
				}

				@keyframes pulseBlue {
					25%,
					75% {
						background-color: var(--black-trans);
					}
					50% {
						background-color: var(--blue-trans);
					}
				}
			}
		}

		@media (orientation: landscape) {
			.stratagem-inputs-container {
				height: 100%;
			}
		}

		@media (orientation: portrait) {
			.stratagem-inputs-container {
				width: 100%;
				align-items: baseline;
			}
		}
	}

	.battery-container {
		display: flex;
		flex-direction: row;
		width: 90%;
		justify-content: space-between;

		.battery-start,
		.battery-end {
			width: 26px;
			height: 48px;
			position: relative;
		}

		.battery-start:before,
		.battery-start:after,
		.battery-end:before,
		.battery-end:after {
			content: "";
			position: absolute;
			background-color: var(--light-blue);
			width: 5px;
			height: 100%;
		}

		.battery-start:before {
			left: 100%;
			margin-left: -10%;
		}

		.battery-end:before {
			right: 100%;
			margin-right: -10%;
		}

		.battery-start:after,
		.battery-end:after {
			top: 50%;
			height: 8px;
			margin-top: -20%;
			width: 100%;
		}

		.battery-outline {
			border: 5px solid var(--light-blue);
			width: 100%;
			margin: 6px 12px;
			box-shadow:
				0 0 8px 0 var(--light-blue),
				inset 0 0 8px 0 var(--light-blue);
		}

		.battery-fill {
			height: calc(100% - 8px);
			width: calc(100% - 8px);
			margin: 4px;
			background: repeating-linear-gradient(130deg, var(--light-blue), var(--light-blue) 35%, transparent 35%, transparent 65%);
			background-repeat: repeat-x;
			background-size: 60px;
			animation-name: BatteryScrollAnimation;
			animation-duration: 0.3s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			z-index: -1;
		}

		@keyframes BatteryScrollAnimation {
			0% {
				background-position: 0% 0;
			}
			100% {
				background-position: 60px 0;
			}
		}
	}
}
