:host {
    height: 100%;
}

#stratagem-input-view {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .skull-header {
        height: 25%;
    }

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .stratagem-inputs-container {
            aspect-ratio: 3 / 2;
            height: 100%;
            max-height: 80%;
            max-width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 50% 50%;

            #inputUp {
                grid-column-start: 2;
            }

            #inputLeft, #inputDown, #inputRight {
                grid-row-start: 2;
            }
        }
    }

    .battery-container {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    
        .battery-start, .battery-end {
            width: 3rem;
            height: 6.25rem;
            position: relative;
        }
        
        .battery-start:before, .battery-start:after, .battery-end:before, .battery-end:after {
            content: "";
            position: absolute;
            background-color: var(--light-blue);
            width: 0.8rem;
            height: 100%;
        }
        
        .battery-start:before {
            left: 100%;
            margin-left: -12.5%;
        }
        
        .battery-end:before {
            right: 100%;
            margin-right: -12.5%;
        }
        
        .battery-start:after, .battery-end:after {
            top: 50%;
            height: 0.8rem;
            margin-top: -12.5%;
            width: 100%;
        }
        
        .battery-outline {
            border: 0.6rem solid var(--light-blue);
            width: 100%;
            margin: 0.9rem 1.75rem;
            box-shadow: 0 0 1.2rem 0 var(--light-blue),
            inset 0 0 1.2rem 0 var(--light-blue);
        }
    
        .battery-fill {
            height: calc(100% - 1.2rem);
            width: calc(100% - 1.2rem);
            margin: 0.6rem;
            background: repeating-linear-gradient(130deg, var(--light-blue), var(--light-blue) 35%, transparent 35%, transparent 65%);
            background-repeat: repeat-x;
            background-size: 100px;
            animation-name: BatteryScrollAnimation;
            animation-duration: 0.3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            z-index: -1;
        }
    
        @keyframes BatteryScrollAnimation {
            0%{background-position: 0% 0}
            100%{background-position: 100px 0}
        }
    }
}
