/* treat 0.25vw as 4px */

:root {
  --navy: #002742;
  --light-blue: #9ce0fa;
  --yellow: #ffe900;
  --yellow-trans: #ffbc0090;
  --white: #ffffff;
  --black-trans: #00000090;
  --gray-trans: #58585890;
  --light-gray: #A8A8A8;
  --light-gray-trans: #98989890;
  --dark-gray: #353535;
  --disabled-grey: #A8A8A8;
}

@font-face {
  font-family: 'FS Sinclair Medium';
  src: url('../public/fonts/FS Sinclair Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FS Sinclair Regular';
  src: url('../public/fonts/FS Sinclair Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FS Sinclair Light';
  src: url('../public/fonts/FS Sinclair Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100vh;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  font-family: "FS Sinclair Regular", Roboto, "Helvetica Neue", sans-serif;
  color: var(--white);
  background-color: var(--navy);
  background-image: radial-gradient(#67a1bf -5%, transparent 70%);

  button {
    font-family: "FS Sinclair Medium";
    font-size: 2.5vw;
  }

  .equip-button {
    border: 0.25vw solid transparent;
    background-color: var(--black-trans);
    padding: 1.05vw 1.5vw;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  
    &:hover, &:active {
      background-color: var(--yellow-trans);
      border-color: var(--yellow);
      box-shadow: 0 0 1.5vw 0 var(--yellow);
    }
  }

  .stratagem-input {
    img {
      width: 100%;
      height: 100%;
    }
    
    cursor: pointer;
    opacity: 85%;
    border: 0;
    background-color: transparent;
    margin: 5%;
    aspect-ratio: 1;
    filter: drop-shadow(6px 6px 2px var(--black-trans));

    &:hover, &:active, &.active {
      opacity: 100%;
    }

    &:active, &.active {
      img {
        width: 19vw;
        height: 19vw;
        margin: 1vw;
      }
      filter: drop-shadow(0.25vw 0.25vw 0.1vw var(--black-trans));
    }

    &.up {
      img {
        transform: rotate(90deg);
      }
    }

    &.right {
      img {
        transform: rotate(180deg);
      }
    }

    &.down {
      img {
        transform: rotate(-90deg);
      }
    }
  }

  .bordered-button {
    display: flex;
    position: relative;
    height: 5.5vw;
    color: var(--disabled-grey);
    border-width: 0.25vw;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, var(--light-gray-trans) 1.75vw, transparent 1.75vw, transparent 3.75vw, var(--light-gray-trans) 3.75vw);
    background-color: transparent;
    padding: 1.05vw 1.5vw;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;

    span {
      z-index: 2;
    }

    .background {
      height: calc(100% - 0.5vw);
      width: calc(100% - 0.5vw);
      background-color: var(--gray-trans);
      position: absolute;
      top: 0.25vw;
      left: 0.25vw;
    }

    &:hover, &:active {
      color: var(--white);
      border-image-source: linear-gradient(to bottom, var(--white) 20px, transparent 20px, transparent 42px, var(--white) 42px);

      .background {
        background-color: var(--light-gray-trans);
      }
    }
  }

  #update-loader {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-trans);
    
    .modal-box {
      background-color: var(--dark-gray);
      max-width: 90%;
      max-height: 90%;
      min-width: 50%;
      min-height: 20%;
      width: fit-content;
      height: fit-content;
  
      --s: 2.5vw; /* the size on the corner */
      --t: 0.5vw;  /* the thickness of the border */
      --g: 0px; /* the gap between the border and image */
      
      padding: calc(var(--g) + var(--t));
      outline: var(--t) solid var(--white); /* the color here */
      outline-offset: calc(-1*var(--t));
      mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;

      .content {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        font-size: 4vw;
        color: var(--light-gray);
    
        .title {
          text-transform: uppercase;
          color: var(--white);
          margin-bottom: 2vw;
        }
      }
    }
  }
}
