:root {
	--navy: #002742;
	--light-blue: #9ce0fa;
	--yellow: #ffe900;
	--yellow-trans: #ffbc0090;
	--white: #ffffff;
	--black-trans: #00000090;
	--gray-trans: #58585890;
	--light-gray: #a8a8a8;
	--light-gray-trans: #98989890;
	--dark-gray: #353535;
	--disabled-grey: #a8a8a8;
	--red: #ff0000;
	--red-trans: #ff000090;
	--blue: #0044ff;
	--blue-trans: #0044ff90;
}

@font-face {
	font-family: "FS Sinclair Medium";
	src: url("../public/fonts/FS Sinclair Medium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FS Sinclair Regular";
	src: url("../public/fonts/FS Sinclair Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FS Sinclair Light";
	src: url("../public/fonts/FS Sinclair Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.hidden {
	display: none !important;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font-family: "FS Sinclair Regular", Roboto, "Helvetica Neue", sans-serif;
	color: var(--white);
	background-color: var(--navy);
	background-image: radial-gradient(#67a1bf -5%, transparent 70%);

	button {
		font-family: "FS Sinclair Medium";
		font-size: 18pt;
	}

	.equip-button {
		height: 62px;
		border: 4px solid transparent;
		background-color: var(--black-trans);
		padding: 12px;
		cursor: pointer;
		text-transform: uppercase;
		color: var(--white);
		-webkit-text-stroke-width: 0.25rem;
		-webkit-text-stroke-color: black;
		paint-order: stroke fill;

		&:hover,
		&:active {
			background-color: var(--yellow-trans);
			border-color: var(--yellow);
			box-shadow: 0 0 16px 0 var(--yellow);
		}
	}

	.bordered-button {
		display: flex;
		position: relative;
		height: 62px;
		color: var(--disabled-grey);
		border-width: 4px;
		border-style: solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(to bottom, var(--light-gray-trans) 32%, transparent 32%, transparent 68%, var(--light-gray-trans) 68%);
		background-color: transparent;
		padding: 12px 16px;
		cursor: pointer;
		text-transform: uppercase;
		-webkit-text-stroke-width: 0.25rem;
		-webkit-text-stroke-color: black;
		paint-order: stroke fill;

		span {
			z-index: 2;
		}

		.background {
			height: calc(100% - 8px);
			width: calc(100% - 8px);
			background-color: var(--gray-trans);
			position: absolute;
			top: 4px;
			left: 4px;
		}

		&:hover,
		&:active {
			color: var(--white);
			border-image-source: linear-gradient(to bottom, var(--white) 32%, transparent 32%, transparent 68%, var(--white) 68%);

			.background {
				background-color: var(--light-gray-trans);
			}
		}
	}

	.stratagem-input {
		img {
			width: 100%;
			height: 100%;
			content: url("/images/left-arrow.svg");
		}

		cursor: pointer;
		opacity: 80%;
		border: 0;
		background-color: transparent;
		margin: 5%;
		aspect-ratio: 1;
		filter: drop-shadow(6px 6px 2px var(--black-trans));

		&:not(:disabled) {
			&:hover {
				opacity: 100%;
			}
		}

		&:disabled {
			opacity: 0%;
		}

		&:not(:disabled):active,
		&.active {
			opacity: 100%;
			img {
				width: 90%;
				height: 90%;
				margin: 5%;
			}
			filter: drop-shadow(3px 3px 1px var(--black-trans));
		}

		&.up {
			img {
				transform: rotate(90deg);
			}
		}

		&.right {
			img {
				transform: rotate(180deg);
			}
		}

		&.down {
			img {
				transform: rotate(-90deg);
			}
		}
	}

	.stratagem-direction {
		img {
			width: 100%;
			height: 100%;
			content: url("/images/left-arrow.svg");
		}

		height: 100%;
		border: 0;
		background-color: transparent;
		aspect-ratio: 1;
		filter: drop-shadow(4px 4px 2px var(--black-trans));

		&.Up {
			img {
				transform: rotate(90deg);
			}
		}

		&.Right {
			img {
				transform: rotate(180deg);
			}
		}

		&.Down {
			img {
				transform: rotate(-90deg);
			}
		}
	}
}
