<div id="contact-modal">
	<div class="modal-box">
		<div class="content">
			<span class="title">Author/Contact</span>
			<button class="svg-button" (click)="closeContact.emit()"><img /></button>
			<div class="name"><img src="images/flak_avatar.png" /> FlaK_MoNKeY / Aidan</div>
			<div class="buttons">
				<button class="equip-button" (click)="goToSteam()">
					<img class="steam-icon" />
					STEAM PROFILE
				</button>
				<button class="equip-button" (click)="goToDiscord()">
					<img src="images/discord-icon.png" />
					DISCORD: flak_monkey
				</button>
				<button class="equip-button" (click)="goToEmail()">
					<img class="email-icon" />
					aido727&#64;gmail.com
				</button>
			</div>
		</div>
	</div>
</div>